.App {
  text-align: center;
  background-color: black;
}

.title-header {
  background-color: #282c3400;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 5vh;
  text-shadow: 1px 1px #FFFFFF,
              -1px -1px #FFFFFF,
              -1px 1px #FFFFFF,
              1px -1px #FFFFFF;
}


/* code referenced from https://blog.hubspot.com/website/horizontal-scrolling
https://www.w3schools.com/howto/howto_css_menu_horizontal_scroll.asp */
.photo-container{
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 30px;
  gap: 10px;
  scrollbar-width: auto;
  padding-bottom:100px;
  max-height:50vh;
  width:auto;
}

.photo-item{
  height: 600px;
  box-shadow: 0 5px 15px rgba(24, 5, 5, 0.5);
  border-radius: 10px;
  position: relative;
  border-color: rgb(252, 252, 252);
  border-style: solid;
  width:50vh;
  height:50vh;
  
  
  
}

.photo-item img{
  display: block;
  border-radius: 5px;
  width:50vh;
  height:50vh;
  
}

.photo-title{
  transform: rotate(-45deg);
  text-align:center;
  position: absolute;
  top: 50%;
  width: 100%;
  right: 5%;
  text-shadow: 1px 1px #FFFFFF,
              -1px -1px #FFFFFF,
              -1px 1px #FFFFFF,
              1px -1px #FFFFFF;
  opacity: 80%;
  font-size: 1.5vmin;
  line-height:-1;
  
}

.shuffle-button{
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.shuffle-button button{
  align-items: center;
  border: 5px;
  font-size:50px;
  padding:20px;
  position:relative;
  border-radius: 10px;
}

.shuffle-button button:hover{
  background-color:rgba(158, 147, 154, 0.781);
}


